:root {
  /* Colors */
  --main-color: #212121;
  --txt-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --black-color: #000000;
  --bg-grey: #f5f4fa;
  --border-cl: #ececec;
  --hero-bg-cl: #2f303a66;
  --icon-cl: #afb1b8;

  /* Grid */
  --indent: 30px;
  --items: 3;

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic */

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.78px;
  line-height: normal;
}

.title {
  margin-bottom: 50px;
  font-size: inherit;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: opacity var(--animation);
}

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  /* opacity: 1; */
  /* transition: opacity 3000ms linear; */
}

/* .backdrop.is-hidden .modal {
  opacity: 0;
} */

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 0px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border var(--animation);
}

.close-btn:hover,
.close-btn:focus {
  border: 1px solid var(--accent-color);
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

/* Header */
.header {
  border-bottom: 1px solid var(--border-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
}

.logo-accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  display: block;
  padding-top: 31px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--main-color);
  transition: color var(--animation);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-accent {
  position: relative;
  color: var(--accent-color);
}

.nav-link-accent::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

address {
  display: inline-block;
  font-style: normal;
}

.contact-link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--txt-color);
  transition: color var(--animation);
}

.contact-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.phone {
  width: 10px;
  height: 16px;
  /* background-image: url(../images/icons/smartphone.svg); */
}

.contact-link:hover,
.contact-link:focus {
  cursor: pointer;
  color: var(--accent-color);
}

/* Hero section */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, var(--hero-bg-cl), var(--hero-bg-cl)),
    url(../images/hero/herp-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-size: 44px;
  line-height: calc(60 / 44);
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: calc(30 / 16);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Advantages section */

.advantages-list {
  display: flex;
  gap: var(--indent);
}

.advantages-item {
  flex-basis: calc((100% - ((var(--items) - 1)) * var(--indent)) / var(--items));
}

/* .advantages-item::before {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-grey);
  background-image: url(../images/icons/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages-item:nth-child(2):before {
  background-image: url(../images/icons/clock.svg);
}

.advantages-item:nth-child(3):before {
  background-image: url(../images/icons/diagram.svg);
}

.advantages-item:nth-child(4):before {
  background-image: url(../images/icons/astronaut.svg);
} */

.advantages-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-grey);
  border-radius: 4px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  color: var(--main-color);
}

.advantages-txt {
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  color: var(--txt-color);
}

/* Portfolio section */
.portfolio-section {
  padding-top: 0;
}

.portfolio-title,
.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--main-color);
  text-align: center;
}

.portfolio-list {
  display: flex;
  gap: var(--indent);
}

.portfolio-item {
  position: relative;
}

.portfolio-descr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  /* width: 370px; */
  width: 100%;
  height: 70px;
  background-color: #2f303acc;
  backdrop-filter: blur(2px);
  border-radius: 0px;
}

.portfolio-text {
  font-weight: 700;
  color: #ffffff;
  /* text-align: center; */
  text-transform: uppercase;
}

/* Team section */
.team-section {
  background-color: var(--bg-grey);
}

.team-list {
  display: flex;
  gap: var(--indent);
}

.team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  text-align: center;
  background-color: var(--white-color);
}

.member-wrapper {
  padding: 30px 5px;
}

.member-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: var(--main-color);
}

.member-txt {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #757575;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-cl);
  /* outline: 1px solid tomato; */
  transition: color var(--animation), background-color var(--animation);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.socials-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* Clients section */
.clients-list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  align-items: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: var(--icon-cl);
  width: 170px;
  height: 92px;
  transition: color var(--animation);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer .logo {
  max-width: 145px;
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--white-color);
}

.address-wrapper {
  margin-bottom: 9px;
}

.address {
  line-height: calc(24 / 14);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.42px;
  color: var(--white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
}

/* .footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
} */

.action {
  /* font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; */
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-link {
  background-color: #ffffff1a;
  background-repeat: 50%;
  color: var(--white-color);
}

/* -----!!!!!------ */
/* PORTFOLIO PAGE */
/* -----!!!!!------ */

.btn-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(26 / 16);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.48px;
  background-color: var(--bg-grey);
  color: var(--main-color);
  text-align: center;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.card-list {
  display: flex;
  gap: var(--indent);
  flex-wrap: wrap;
}

.card-item {
  flex-basis: calc((100% - (var(--items)-1) * 30px) / var(--items));
  transition: box-shadow var(--animation);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.card-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  /* font-family: "Roboto", sans-serif; */
  /* font-weight: 400; */
  color: var(--white-color);
}

.card-item:hover,
.card-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-item:hover .overlay {
  transform: translateY(0);
}

.card-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--main-color);
}

.item-txt {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.48px;
  color: var(--txt-color);
}
