/* :root { */
/* Colors */
/* --main-color: #212121;
  --txt-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --black-color: #000000;
  --bg-grey: #f5f4fa;
  --border-cl: #ececec;
  --hero-bg-cl: #2f303a66;
  --icon-cl: #afb1b8; */

/* Grid */
/* --indent: 30px;
  --items: 3; */

/* Animation */
/* --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* } */

/* Basic */

/* body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.78px;
  line-height: normal;
} */

/* .no-scroll {
  overflow: hidden;
}

.title {
  margin-bottom: 50px;
  font-size: inherit;
} */

/* .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; */
/* outline: 1px solid tomato; */
/* } */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
} */

/* Reset styles */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* Modal */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform var(--animation);
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
} */

/* .modal-form__field {
  position: relative;
  display: block;
}

.modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--txt-color);
}

.modal-form__input {
  padding: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--main-color);
  outline: none;
  transition: border-color var(--animation);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
} */

/* .modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--animation);
}

.modal-form__comment {
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 4px;
  transition: border-color var(--animation);
}

.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__comment::placeholder {
  font-size: 12px;
  color: var(--txt-color);
}

.agreement {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.agreement__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__icon {
  width: 16px;
  height: 15px;
}

.agreement__icon--checked {
  opacity: 0;
}

.agreement__input:checked + .agreement__icon > .agreement__icon--checked {
  opacity: 1;
}

.agreement__label {
  font-size: 14;
  line-height: calc(24 / 14);
  user-select: none;
  color: var(--txt-color);
}

.agreement__link {
  text-underline-position: under;

  color: var(--accent-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  font-size: 16px;
  line-height: calc(30 / 15);
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
  cursor: pointer;
  transition: background-color var(--animation);
}

.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--accent-color);
} */

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
} */

/* .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 0px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border var(--animation);
}

.close-btn__icon {
  width: 100%;
  height: 100%;
}

.close-btn:hover,
.close-btn:focus {
  border: 1px solid var(--accent-color);
} */

/* Header */
/* .header {
  border-bottom: 1px solid var(--border-cl);
}

.header__container {
  display: flex;
  align-items: center;
} */

/* .logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
}

.logo-accent {
  color: var(--accent-color);
} */

/* .nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  display: block;
  padding-top: 31px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--main-color);
  transition: color var(--animation);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-accent {
  position: relative;
  color: var(--accent-color);
}

.nav-link-accent::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
} */

/* .contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
} */

/* address {
  display: inline-block;
  font-style: normal;
} */

/* .contact__link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--txt-color);
  transition: color var(--animation);
}

.contact__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
} */

/* .phone {
  width: 10px;
  height: 16px; */
/* } */

/* .contact__link:hover,
.contact__link:focus {
  cursor: pointer;
  color: var(--accent-color);
} */

/* Hero section */
/* .hero {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to bottom, var(--hero-bg-cl), var(--hero-bg-cl)),
    url(../images/hero/herp-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-size: 44px;
  line-height: calc(60 / 44);
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: calc(30 / 16);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--animation);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
} */

/* Advantages section */

/* .advantages__list {
  display: flex;
  gap: var(--indent);
}

.advantages__item {
  flex-basis: calc((100% - ((var(--items) - 1)) * var(--indent)) / var(--items));
} */

/* .advantages__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-grey);
  background-image: url(../images/icons/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantages__item:nth-child(2):before {
  background-image: url(../images/icons/clock.svg);
}

.advantages__item:nth-child(3):before {
  background-image: url(../images/icons/diagram.svg);
}

.advantages__item:nth-child(4):before {
  background-image: url(../images/icons/astronaut.svg);
} */

/* .advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-grey);
  border-radius: 4px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  color: var(--main-color);
}

.advantages__txt {
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  color: var(--txt-color);
} */

/* Portfolio section */
/* .portfolio {
  padding-top: 0;
}

.portfolio__title,
.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--main-color);
  text-align: center;
}

.portfolio__list {
  display: flex;
  gap: var(--indent);
}

.portfolio__item {
  position: relative;
}

.portfolio__descr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #2f303acc;
  backdrop-filter: blur(2px);
  border-radius: 0px;
}

.portfolio__text {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
} */

/* Team section */
/* .team {
  background-color: var(--bg-grey);
}

.team__list {
  display: flex;
  gap: var(--indent);
}

.team__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  text-align: center;
  background-color: var(--white-color);
}

.team__wrapper {
  padding: 30px 5px;
}

.team__name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: var(--main-color);
}

.team__txt {
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #757575;
} */

/* .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-cl);
transition: color var(--animation), background-color var(--animation);
}

/* .socials__link:hover,
.socials__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
} */

/* Clients section */
/* .clients__list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  align-items: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: var(--icon-cl);
  width: 170px;
  height: 92px;
  transition: color var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
} */

/* Footer */
/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__contact-info {
  flex-basis: 231px;
  margin-right: 70px;
}

.footer .logo {
  max-width: 145px;
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--white-color);
} */

/* .address {
  margin-bottom: 9px;
  display: inline-block;
  font-style: normal;
}

.address__link {
  line-height: calc(24 / 14);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.42px;
  color: var(--white-color);
} */

/* .footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__socials {
  margin-right: 93px;
} */

/* FOOTER FORM */
/* .footer__form form {
  display: flex;
} */

/* .footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* .subscribe-form {
  display: flex;
} */

/* .subscribe-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: #2196f300;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(255, 255, 255, 0.3);
  color: var(--white-color);
  font-size: 16px;
  transition: border-color var(--animation);
} */

/* .subscribe-form__input:focus {
  border-color: var(--white-color);
  outline: transparent;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgb(255, 255, 255, 0.6);
} */

/* .subscribe-form__btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: 700;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: background-color var(--animation);
} */

/* .subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: #188ce8;
}

.subscribe-form__icon {
  width: 24px;
  height: 24px;
} */

/* -----!!!!!------ */
/* PORTFOLIO PAGE */
/* -----!!!!!------ */

/* .filter {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(26 / 16);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.48px;
  background-color: var(--bg-grey);
  color: var(--main-color);
  text-align: center;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter__btn--current {
  background-color: var(--accent-color);
  color: var(--white-color);
} */

/* .card-set {
  display: flex;
  gap: var(--indent);
  flex-wrap: wrap;
}

.card-set__item {
  flex-basis: calc((100% - (var(--items)-1) * 30px) / var(--items));
  transition: box-shadow var(--animation);
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.card-set__descr {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--white-color);
  user-select: none;
}

.card-set__item:hover,
.card-set__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-set__item:hover .card-set__overlay {
  transform: translateY(0);
}

.card-set__wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-set__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--main-color);
}

.card-set__txt {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.48px;
  color: var(--txt-color);
} */
