.address {
  margin-bottom: 9px;
  display: inline-block;
  font-style: normal;
}

.address__link {
  line-height: calc(24 / 14);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.42px;
  color: var(--white-color);
}
