.contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact__link {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: var(--txt-color);
  transition: color var(--animation);

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.contact__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.phone {
  width: 10px;
  height: 16px;
}
