.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);

  &--accent {
    color: var(--accent-color);
  }

  .footer & {
    max-width: 145px;
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    color: var(--white-color);
  }
}
