.logo {
  // margin-right: 93px;
  padding: 16px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  color: var(--black-color);

  &--accent {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 86px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 93px;
  }

  .footer & {
    // margin-right: auto;
    // margin-left: auto;
    max-width: 145px;
    display: block;
    margin-bottom: 20px;
    // margin-right: 0;
    color: var(--white-color);

    @media screen and (max-width: 1199px) {
      margin-right: auto;
      margin-left: auto;
      // text-align: center;
    }

    // @media screen and (min-width: 768px) {
    //   margin-right: auto;
    //   margin-left: auto;
    // }
  }
}
