.menu-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  transition: color var(--animation);
  cursor: pointer;

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    & svg {
      fill: currentColor;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
