.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-cl);
  transition: color var(--animation), background-color var(--animation);

  &--dark {
    background-color: #ffffff1a;
    color: var(--white-color);
  }

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
