:root {
  /* Colors */
  --main-color: #212121;
  --txt-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --black-color: #000000;
  --bg-grey: #f5f4fa;
  --border-cl: #ececec;
  --hero-bg-cl: #2f303a66;
  --icon-cl: #afb1b8;

  /* Grid */
  --indent: 30px;
  --items: 3;

  // Fonts
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
