.clients__list {
  display: flex;
  gap: var(--indent);
  justify-content: center;
  align-items: center;
}

// .clients__title {
//   margin-bottom: 50px;
//   font-size: 36px;
//   font-weight: 700;
//   letter-spacing: 1.08px;
//   color: var(--main-color);
//   text-align: center;
// }

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: var(--icon-cl);
  width: 170px;
  height: 92px;
  transition: color var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: currentColor;
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
